body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.hight-column {
    min-height: 580px;
}

.small-text {
    font-size: 10px;
}

.title-header {
    background-color: #DDDDDD;
    font-weight: bold;
    margin: 0 -15px 0 -15px;
    padding: 5px;
}

.border-left {
    border-left: 1px solid #AAAAAA;
}

.border-top {
    border-top: 1px solid #AAAAAA;
}

.padding-top-main {
    padding-top: 5px;
    padding-bottom: 10px;
}

.green-bar {
    color: #248b33;
    letter-spacing: 1px;
}

#mask {
    position: fixed;
    width: 100%;
    height: 100%;
    background: transparent;/* You can make this slightly transparent black rgba(0,0,0,.3); or transparent */;
    top: 0;
    left: 0;
    display: none;
    z-index: 1000;
}
@media (min-width: 768px) {
    .row {
        margin: 0;
    }
    .body-content {
        padding: 0;
    }
    .body {
        display: table;
        width: 100%;
        min-height: 180px;
        padding: 0;
        margin: 0;
    }
    .left-side {
        vertical-align: top;
        float: none;
        display: table-cell;
    }

    .right-side {
        vertical-align: top;
        float: none;
        display: table-cell;
    }
}