@{
    ViewBag.Title = "Stats";
}

<h2>Stats</h2>
<script>
    function showStat(id) {
        document.getElementById('mainStats').style.display = 'none';
        document.getElementById('charStats').style.display = 'none';
        document.getElementById('sexStats').style.display = 'none';

        document.getElementById(id).style.display = 'block';
    }
</script>
<table>
    <tr>
        <td valign="top">
            <div id="mainStats" style="display: block">
                Вас зовут Светлана Лебедева.<br />
                Вам 17 лет, на вид вам можно дать не больше 16 лет.<br />
                Дата вашего рождения 5.03.1994г.<br />
                Рост 170 см, вес 50 кг.<br />
                Вы очень худы, жира на теле практически нет, через кожу выступают мышцы.<br />
                50 - 40 - 65, размер груди 0, разница между бедрами и талией 25 см<br />
                Ваш анус не закрывается и выглядит как красное раздолбанное дупло из которого регулярно вылетают ветры.<br />
                У вас симпатичная внешность. Парни частенько обращают на вас внимание.<br />
                У вас спутавшиеся прямые, светлые волосы.<br />
                У вас пухленькие  губы.<br />
                У вас рабочий ротик и чувствительное горло.<br />
                У вас бледная, гладкая как стекло и шелковистая на ощупь кожа. В ушах болтаются сережки.<br />
                У вас огромные серые глаза, с нормальной длинны ресницами и перманентный татуаж бровей.<br />
                У вас нет макияжа<br />
                У вас гладкие ноги.<br />
                У вас гладкий, выбритый лобок.<br />
                У вас девственная плева.<br />
            </div>
            <div id="charStats" style="display: block">
                Привлекательность 28<br />
                Сила 100<br />
                Скорость 100<br />
                Ловкость 100<br />
                Выносливость 63<br />
                Интеллект 100<br />
                Сила воли 53<br />
                Реакция 71<br />
                Вы очень худы, жира на теле практически нет, через кожу выступают мышцы.<br />
                Подчиненность 85<br />
                Текущий статус  - на все готовая рабыня<br />
                Джебы - 12<br />
                Защита от ударов - 9<br />
                Навык бега - 1131<br />
                Навык воллейбола - 356<br />
                Навык танца - 100<br />
                Навык профессионального танца - 104<br />
                Навык танцевального стриптиза - 100<br />
                Навык танца на шесте - 60<br />
                В школе вы круглая отличница.
            </div>
            <div id="sexStats" style="display: block">
                Прошло 255 дней с начала игры.<br />
                Побед в драках 1, поражений в драках 0<br />
                20 раз принимали участие в соревнованиях по бегу<br />
                3 - серебряных медалей по бегу<br />
                11 - золотых медалей по бегу<br />
                У вас звание Мастера Спорта Международного класса по бегу<br />
                Вы снимались обнаженной 4 раз<br />
                Вы 1 раз профессионально танцевали.<br />
                Мастурбировали 19 раз<br />
                Вместимость горла 6<br />
                У вас девственная плева<br />
                Ваш анус не закрывается и выглядит как красное раздолбанное дупло из которого регулярно вылетают ветры.<br />
                У вас было 23 парней.<br />
                Групповой секс 8 раз<br />
                минетов сделано 38 раз, из них 17 раз своему парню<br />
                Дрочили парням 10 раз из них 4 раз дрочили своему парню<br />
                Об вас дрочили член 12 раз<br />
                Вас изнасиловали 2 раз<br />
                Анальный секс 40 раз из них 10 раз со своим парнем<br />
                Продавали свою любовь 1 раз.<br />
                Испытали оргазм 29 раз. Из них 0 вагинальных оргазмов во время секса.<br />
                Спермы проглочено 15 раз<br />
                Кончили на лицо 3 раз<br />
                Вафлизм 1<br />
                Вы писали в людных местах 11 раз.<br />
                У вас было 9 девушек.<br />
                Вы занимались леcбийским сексом 44 раз.<br />
            </div>
        </td>
        <td valign="top">
            <div style="padding: 5px"><a href="javascript:showStat('mainStats')" class="btn btn-info">Статистика персонажа</a></div>
            <div style="padding: 5px"><a href="javascript:showStat('mainStats')" class="btn btn-info">Параметры</a></div>
            <div style="padding: 5px"><a href="javascript:showStat('mainStats')" class="btn btn-info">Статистика секса</a></div>
        </td>
    </tr>
</table>

